name: Deploy SPARCS Payment Service
on:
  workflow_run:
    workflows: ["Payment Service Formatting Check on Push"]
    types:
      - completed

permissions:
  id-token: write
  contents: read

jobs:
  deploy-dev:
    # Triggered when main branch formatting passes
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          aws-region: ap-southeast-1
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN_STAGE }}
          role-session-name: GithubActionSessionDev

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python3 -m pip install pipenv==2023.4.29
          pipenv install --deploy

      - name: Install Serverless Framework
        run: |
          npm install
          npm install -g serverless@3.40.0

      - name: Deploy with Serverless (Dev)
        run: sls deploy --stage dev --verbose

  deploy-prod:
    if: ${{ github.event.workflow_run.conclusion == 'success' && startsWith(github.event.workflow_run.head_branch, 'release/') }}
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          aws-region: ap-southeast-1
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN_PROD }}
          role-session-name: GithubActionSessionProd

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python3 -m pip install pipenv==2023.4.29
          pipenv install --deploy

      - name: Install Serverless Framework
        run: |
          npm install
          npm install -g serverless@3.40.0

      - name: Deploy with Serverless (Prod)
        run: sls deploy --stage prod --verbose
