name: Deploy SPARCS Payment Service
on:
  workflow_run:
    workflows: ["Payment Service Formatting Check on Push"]
    types:
      - completed
  # push:
  #   branches:
  #     - main
  #     - stage

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Set environment based on the branch being pushed to (main for prod, stage for dev)
    environment: ${{ github.ref == 'refs/heads/main' && 'dev' || 'prod' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set deployment configuration
        id: config
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "stage=prod" >> $GITHUB_OUTPUT
            echo "AWS_OIDC_ROLE_ARN=${{ secrets.AWS_OIDC_ROLE_ARN_PROD }}" >> $GITHUB_ENV
          else
            echo "stage=dev" >> $GITHUB_OUTPUT
            echo "AWS_OIDC_ROLE_ARN=${{ secrets.AWS_OIDC_ROLE_ARN_STAGE }}" >> $GITHUB_ENV
          fi

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          audience: sts.amazonaws.com
          aws-region: ap-southeast-1
          role-to-assume: ${{ env.AWS_OIDC_ROLE_ARN }}
          role-session-name: GithubActionSession

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python3 -m pip install pipenv==2023.4.29
          pipenv install

      - name: Install Serverless Framework
        run: |
          npm install
          npm install -g serverless@3.40.0

      - name: Deploy with Serverless
        run: sls deploy --stage ${{ steps.config.outputs.stage }} --verbose
