name: Deploy SPARCS Payment Service
on:
  push:
    branches:
      - main
      - stage

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set ARN for Role to Assume
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "AWS_OIDC_ROLE_ARN=${{ secrets.AWS_OIDC_ROLE_ARN_PROD }}" >> $GITHUB_ENV
          elif [[ "${{ github.ref }}" == "refs/heads/stage" ]]; then
            echo "AWS_OIDC_ROLE_ARN=${{ secrets.AWS_OIDC_ROLE_ARN_STAGE }}" >> $GITHUB_ENV
          fi

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          audience: sts.amazonaws.com
          aws-region: ap-southeast-1
          role-to-assume: ${{ env.AWS_OIDC_ROLE_ARN }}
          role-session-name: GithubActionSession

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python3 -m pip install pipenv==2023.4.29
          pipenv install

      - name: Install Serverless Framework
        run: |
          npm install
          npm install -g serverless@3.40.0

      - name: Deploy with Serverless
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
          sls deploy --stage prod --verbose
          elif [[ "${{ github.ref }}" == "refs/heads/stage" ]]; then
          sls deploy --stage dev --verbose
          fi
